[submodule "deps/vera"]
	path = deps/vera
	url = git@github.com:patriciogonzalezvivo/vera.git
[submodule "assets/shaders/lygia"]
	path = assets/shaders/lygia
	url = git@github.com:patriciogonzalezvivo/lygia.git
